.resultlist {overflow-y:auto;height:90%;}
.result {font-size:180%;}
.hl {background-color:khaki}
.hl1 {background-color:orchid}
.hl2 {background-color:lightblue}
.hl3 {background-color:lightgreen}
.expanded , .query {font-size:200%;}