.resultlist {overflow-y:auto;height:90%;}
.result {font-size:180%;}
hl {background-color:khaki}
hl[n="1"] {background-color:orchid}
hl[n="2"] {background-color:lightblue}
hl[n="2"] {background-color:lightgreen}
.expanded , .query {font-size:200%;}